<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="cc.shinichi.library.logit"
	>

	<application>
		<activity
			android:name=".ui.AnalyzeLogActivity"
			android:exported="false"
			android:label="PreviewIt!"
			/>

		<provider
			android:name=".util.InitProvider"
			android:authorities="${applicationId}.logit.provider"
			android:exported="false"
			/>

	</application>

</manifest>